{% extends "base.html" %}
{% block content %}
<body class="app">   	
    <div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">
                <div class="position-relative mb-1">
            <div class="row g-3 justify-content-between">
                <div class="col-auto">
                <h1 class="app-page-title mb-0">Overview Statistics of {{academic_year_last}}</h1>
                </div>
                <div class="col-auto">
                <form class="docs-search-form row gx-1 align-items-center" method="GET" action="{% url 'overview' %}">
                {% csrf_token %}
                    <select class="form-select w-auto" name='academic-year'> 
                    <option value="">Select Academic Year</option>
                    {% for academic_years in academic_year %}
                    <option value="{{academic_years.academic_year}}">{{academic_years}}</option>
                    {% endfor %}
                    </select>
                    <div class="col-auto">
                        <button type="submit" class="btn app-btn-secondary">Search</button>
                    </div>
                </form>
                </div>
                </div>	
            </div>
        </div>
            <div class="row g-4 mb-4">
                    <div class="app-card app-card-stats-table h-0 shadow-sm">
                        <div class="app-card-header p-3">
                            <div class="row justify-content-between align-items-center">
                        <div id="chartContainer3" style="height: 300px; width: 90%;"></div> 
                        <div><br><hr><br></div>
                        <div id="chartContainer1" style="height: 300px; width: 90%;"></div> 
                        <div><br><hr><br></div>
                        <div id="chartContainer" style="height: 300px; width: 90%;"></div>
                        <div><br><hr><br></div> 
                        <div id="chartContainer2" style="height: 300px; width: 90%;"></div><br><br>
                        </div><!--//app-card-body-->   <br>
                        <h5>IT = Information Technology, BM = Business Management</h5> 
<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	theme: "light2",
	animationEnabled: true,
	title: {
		text: "Contributions of each Faculty by Percentage"
	},
	subtitles: [{
		text: "{{academic_year_last}}",
		fontSize: 16
	}],
	data: [{
		type: "pie",
		indexLabelFontSize: 18,
		radius: 80,
		indexLabel: "{label} - {y}",
		yValueFormatString: "###0.0\"%\"",
		click: explodePie,
		dataPoints: [
        {% for facultyy,contribution in zipp1 %}
			{ y: {{contribution}}, label: "{{facultyy.get_name_display}}" },
        {% endfor %}
		]
	}]
});
chart.render();

function explodePie(e) {
	for(var i = 0; i < e.dataSeries.dataPoints.length; i++) {
		if(i !== e.dataPointIndex)
			e.dataSeries.dataPoints[i].exploded = false;
	}
}

var chart1 = new CanvasJS.Chart("chartContainer1", {
	animationEnabled: true,
	theme: "light1", // "light1", "light2", "dark1", "dark2"
	title: {
		text: "Number of Contributions in {{academic_year_last}}"
	},
	axisY: {
		title: "Number of Contributions",
		suffix: ""
	},
	axisX: {
		title: "Faculties of University"
	},
	data: [{
		type: "column",
		yValueFormatString: "#,##0.0#\"%\"",
		dataPoints: [
        {% for facultyy,contributionn in zipp %}
			{ label: "{{facultyy.get_name_display}}", y: {{contributionn}} },
        {% endfor %}
            
		]
	}]
});
chart1.render();

var chart3 = new CanvasJS.Chart("chartContainer3", {
	animationEnabled: true,
	theme: "light1", // "light1", "light2", "dark1", "dark2"
	title: {
		text: "Number of Contributors in {{academic_year_last}}"
	},
	axisY: {
		title: "Number of Contributors",
		suffix: ""
	},
	axisX: {
		title: "Faculties of University"
	},
	data: [{
		type: "column",
		yValueFormatString: "#,##0.0#\"%\"",
		dataPoints: [
        {% for facultyy,contributionn in zipp3 %}
			{ label: "{{facultyy.get_name_display}}", y: {{contributionn}} },
        {% endfor %}
            
		]
	}]
});
chart3.render();

var chart2 = new CanvasJS.Chart("chartContainer2", {
	animationEnabled: true,
	title:{
		text: "Number of Contributions without Comment vs Number of Contributions with Comment after 14 days of posted for {{academic_year_last}}"
	},
	axisY: {
		title: "Number of Contributions",
		includeZero: true
	},
	legend: {
		cursor:"pointer",
		itemclick : toggleDataSeries
	},
	toolTip: {
		shared: true,
		content: toolTipFormatter
	},
	data: [{

		type: "bar",
		showInLegend: true,
		name: "Contributions with Comment",
		color: "gold",
		dataPoints: [
        {% for facultyy,with_cmd in zipp2 %}
			{ y: {{with_cmd}}, label: "{{facultyy.name}}" },
		{% endfor %}
		]
	},

	{
		type: "bar",
		showInLegend: true,
		name: "Contributions without Comment after 14 days of posted",
		color: "#A57164",
		dataPoints: [
			{% for facultyy,without_cmd in zipp4 %}
			{ y: {{without_cmd}}, label: "{{facultyy.name}}" },
		    {% endfor %}
		]
	}]
});
chart2.render();

function toolTipFormatter(e) {
	var str = "";
	var total = 0 ;
	var str3;
	var str2 ;
	for (var i = 0; i < e.entries.length; i++){
		var str1 = "<span style= \"color:"+e.entries[i].dataSeries.color + "\">" + e.entries[i].dataSeries.name + "</span>: <strong>"+  e.entries[i].dataPoint.y + "</strong> <br/>" ;
		total = e.entries[i].dataPoint.y + total;
		str = str.concat(str1);
	}
	str2 = "<strong>" + e.entries[0].dataPoint.label + "</strong> <br/>";
	str3 = "<span style = \"color:Tomato\">Total: </span><strong>" + total + "</strong><br/>";
	return (str2.concat(str)).concat(str3);
}

function toggleDataSeries(e) {
	if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
		e.dataSeries.visible = false;
	}
	else {
		e.dataSeries.visible = true;
	}
	chart2.render();
}


}
</script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>  
{% endblock content %}
