{% extends "base.html" %}
{% block content %}
{% if form.errors %}
<ul class='form-errors'>
{% for error in form.errors %}
<div class="alert alert-warning" role="alert">
{{ error }}
</div>
{% endfor %}
</ul>
{% endif %}
<div class="app-wrapper">
	<div class="app-content pt-3 p-md-3 p-lg-4">
	<div class="container-xl">
	{% for message in messages %}
	<div class="alert alert-warning" role="alert">
	{{ message}}
	</div>
	{% endfor %}
	<div class="app-card app-card-accordion shadow-sm mb-4">
		<div class="app-card app-card-settings shadow-sm p-4">
			<form class="settings-form" enctype="multipart/form-data" method="POST" id="prospects_form" onsubmit="if(document.getElementById('agree').checked) { return true; } else { alert('Please indicate that you have read and agree to the Terms and Conditions and Privacy Policy'); return false;}">
			{% csrf_token %}
				<div class="row">
					<div class="mb-3">
						{{form.faculty}}
					{{form.author}}
					<h1>Post a Contribution Here!</h1><br>
					<label for="setting-input-3" class="form-label">Upload Images(Max=3): </label>	<br>		
						{{form.images}}<br>	<br>
						<div id="preview" class="mx-auto" style="max-width: 600px;"></div><br>	
					<label for="setting-input-3" class="form-label">Upload Word Documentation: </label>	<br>		
					<p>Only files with docx and doc extensions are allowed to upload!</p>
						{{form.word_docu}}<br>	<br>	<br>	<br>	
						
				
						<input type="checkbox" name="checkbox" value="check" id="agree" /> I have read and agree to the Terms and Conditions and Privacy Policy<br><br>
						<br><button type="submit" class="btn app-btn-primary" >Post Now</button><br>
				</form>
			</div><!--//app-card-body-->
					</div>

	</div>	
</div>
<script>
function previewImages() {

var preview = document.querySelector('#preview');

if (this.files) {
  [].forEach.call(this.files, readAndPreview);
}

function readAndPreview(file) {

  // Make sure `file.name` matches our extensions criteria
  if (!/\.(jpe?g|png|gif)$/i.test(file.name)) {
    return alert(file.name + " is not an image");
  } // else...
  
  var reader = new FileReader();
  
  reader.addEventListener("load", function() {
    var image = new Image();
    image.height = 150;
    image.title  = file.name;
    image.src    = this.result;
    preview.appendChild(image);
  });
  
  reader.readAsDataURL(file);
	}
}
document.querySelector('#file-input').addEventListener("change", previewImages);
$(document).ready(function() {
  $('#file-input').change(function() {
    if (this.files.length > 3)
      alert('Max length exceeded .Only first 3 images will be uploaded!')
  });
});
</script>
{% endblock content %}
